
@{
    ViewBag.Title = "Index";
}


<h3>Chart sınıfı</h3>

<p><b>width</b> : Grafiğin genişliğini piksel cinsinden tanımlayan parametredir.</p>

<p><b>height</b> : Grafiğin yüksekliğini piksel cinsinden tanımlayan parametredir.</p>

<p><b>theme</b> : Grafiğin temasını string türünden tema adı olarak alan parametredir.</p>

<p><b>themePath</b> : Temanın bulunduğu dizinin (eğer kullanıcı tanımlı bir tema kullanılıyorsa) yolunun tanımlandığı parametredir. Opsiyoneldir.</p>

<p><b>AddLegend</b> : Grafikteki veri kaynaklarının genel başlığını tanımlama işleminin yapıldığı metoddur.</p>

<p><b>AddSeries</b> :  Grafiğe veri kaynağının bağlandığı metoddur. Koordinat düzleminde x koordinatındaki veriler <b>xValue</b>, y koordinatındaki veriler <b>yValue</b> parametresinde tanımlanır. Grafiğin türünü (pasta dilimi vs.) tanımlama işlemi için chartType paramatresi kullanılır.</p>

<p><b>AddTitle</b> : Grafiğin üstüne eklenecek (grafiğin ne olduğunu belirten) başlığı tanımlama işleminin yapıldığı metoddur.</p>

<p><b>Write</b> : Grafiği View içinde oluşturan metoddur.</p>

