
@{
    ViewBag.Title = "Index";
}


<h2 align="center">GetHtml Metodunun kullanımı</h2>

<p><b>tableStyle</b> : Tablonun genelinde kullanılacak olan CSS sınıfının tanımlanacağı parametredir.</p>

<p><b>headerStyle</b> : Tablonun headerında (başlık bölümünde) kullanılacak olan CSS sınıfının tanımlanacağı parametredir.</p>

<p><b>footerStyle</b> : Tablonun alt footerında (alt bölümünde) kullanılacak olan CSS sınıfının tanımlanacağı parametredir.</p>

<p><b>rowStyle</b> : Tablonun satırlarında kullanılacak olan CSS sınıfının tanımlanacağı parametredir.</p>

<p><b>alternatingRowStyle</b> : Tablonun çift numaralı satırlarında kullanılacak olan CSS sınıfının tanımlanacağı parametredir. Örneğin bir satırın beyaz bir satır mavi olmasını istiyorsanız rowStyle’a beyaz arkaplan, alternatingRowStyle’a da mavi arkaplan tanımlaması yapmanız gerekecektir.</p>

<p><b>selectedRowStyle</b> : Tablonun seçili satırında kullanılacak olan CSS sınıfının tanımlanacağı parametredir.</p>

<p><b>caption</b> : Tablonun başlığının tanımlanacağı parametredir.</p>

<p><b>displayHeader</b> : Tablo sütun başlıklarının (header) görünüp görünmemesinin tanımlanacağı parametredir. Eğer true değeri atanırsa başlıklar görünür, false değeri atanırsa görünmez.</p>

<p><b>fillEmptyRows</b> : Eğer gridin son sayfasındaki eleman sayısı, sayfadaki eleman sayısından az ise kalan satırların boş satırlarla doldurulup doldurulmamasının tanımlanacağı parametredir. Eğer true değeri atanırsa kalan satırlarda boş satır görünür, false değeri atanırsa görünmez.</p>

<p><b>emptyRowCellValue</b> : Eğer fillEmptyRows değeri true ise boş satırlara atanacak değerin tanımlanacağı parametredir.</p>

<p><b>columns</b> : Grid sütunlarında hangi verilerin yer alacağının tanımlandacağı parametredir.</p>

<p><b>exclusions</b> : Eğer fillEmptyRows değeri true ise boş satırlara değer atanması istenmeyen sütunların tanımlanacağı parametredir.</p>

<p><b>mode</b> : Gridin sayfalama yönteminin tanımlanacağı parametredir.</p>

<p><b>firstText</b> : Grid üzerinde sayfalama yapıldığında ilk sayfa linkine tanımlanacak metin ifadesidir.</p>

<p><b>previousText</b> : Grid üzerinde sayfalama yapıldığında önceki sayfa linkine tanımlanacak metin ifadesidir.</p>

<p><b>nextText</b> : Grid üzerinde sayfalama yapıldığında sonraki sayfa linkine tanımlanacak metin ifadesidir.</p>

<p><b>lastText</b> : Grid üzerinde sayfalama yapıldığında son sayfa linkine tanımlanacak metin ifadesidir.</p>

<p><b>numericLinksCount</b> : Sayfalama yapıldığında kaç adet sayfa numarasının görüntüleneceğinin tanımlanacağı parametredir.</p>