@model List<WebHelperWebGrid.Models.Urun>


@{
    ViewBag.Title = "UrunListesiIstenilenSutunlar";
}

@{
    var grid = new WebGrid(Model);
}


<div>
    @grid.GetHtml(
columns: grid.Columns(
   grid.Column("Ad", "Ürün Adı"),
   grid.Column("Fiyat", "Ürün Fiyatı"),
   grid.Column("Adet", "Stok Miktarı")))
</div>

